<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>

  <p>This is a sample email body. You can customize it to include information specific to each company.</p>

  <p>Email Address: <%= @email %></p>

  <p>Thank you for using our service!</p>

  <p>Best regards,<br>
  SriGorack Technology</p>
</body>
</html>
